/* generico */

.site-wrapper > section {
    margin-top: 75px;
}
.site-wrapper #form-login-pass form{width: 300px;margin: 0 auto;padding:15px 0px;}
.site-wrapper .btn.login-btn-blue{background-color:#01579b; width:300px;text-transform: none;}
.site-wrapper #form-login-pass form .mb-4, .my-4 { margin-bottom: 0.5rem;}
.site-wrapper #form-login-pass form .mt-4, .my-4 {margin-top: 0.7rem;}
.site-wrapper #form-login-pass form .blue-text{color:#01579b;}
.site-wrapper #form-login-pass p.h6{ margin-top: 20px;margin-bottom: 0px;}
.site-wrapper .nav-item .nav-link:hover, .nav-link.active{ background-color: rgba(158,158,158,.3)}
.site-wrapper #form-login form{width: 300px;margin: 0 auto;padding:15px 0px;}
.site-wrapper .btn.login-btn-blue{background-color:#01579b; width:300px;text-transform: none;}
.site-wrapper #form-login form .mb-4, .my-4 { margin-bottom: 0.5rem;}
.site-wrapper #form-login form .mt-4, .my-4 {margin-top: 0.7rem;}
.site-wrapper #form-login form .blue-text{color:#01579b;}
.site-wrapper #form-login p.h6{ margin-top: 20px;margin-bottom: 0px;}

.site-wrapper .ico-pdf.fa-lightbulb,
.site-wrapper .ico-pdf.fa-smile,
.site-wrapper .ico-pdf.fa-question,
.site-wrapper .ico-pdf.fa-frown{font-size: 4rem; cursor:pointer;}
.site-wrapper .data-table td.number{text-align: right;}
.site-wrapper #modal-asociar-users .list-group-item {padding: 0.3rem 0.4rem;}
.site-wrapper #modal-asociar-users .list-group{border: 1px solid grey;padding: 10px;}
.site-wrapper .titulo-xl {font-size: 4.5rem; text-shadow: 2px 2px #000;}
.site-wrapper .mt-20 {margin-top: 20rem;}
.site-wrapper .mt-14 {margin-top: 14rem;}
.site-wrapper .txt-med {font-size: 1.2rem;}

.site-wrapper .color-titulos {color: #005b9b}
.site-wrapper #pdf-files{margin-top:40px;}
.site-wrapper .pdf-icon{text-align: center;}
.site-wrapper .ms-bg-fixed {background-attachment: fixed}
.site-wrapper .icono-sec-not{max-width: 40px; margin-right: 10px;}
.site-wrapper .banner-header{max-height: 300px;}

.site-wrapper .pull-right{text-align:right}
.site-wrapper .pull-left{text-align:left}
.site-wrapper .banner-atencion{max-height: 350px;}
.site-wrapper .owl-next span{right: -25px;}
.site-wrapper .owl-prev span{left: -25px;}

.h1-responsive, .h2-responsive, .h3-responsive, .h4-responsive, .h5-responsive{color: #01579b;}
.site-wrapper .mt-10{margin-top: 10rem;}
.site-wrapper .contacto-gris{background-color: #D5D5D5;}
.site-wrapper .asociar-usuario{font-weight: 500; color: #616161;}
.site-wrapper label.modulos{font-size:.8rem;}


.site-wrapper .btn-agentes{
    position: absolute;
    top: 65%;
    right: 0px;
    padding: 25px 5px 5px;
    width: 100%;
    opacity: .8;
    font-size: 1.29rem;
    text-transform: none;
    text-align: right;
    max-height: 60px;
    box-sizing: border-box;
    font-weight: 400;
}

.site-wrapper .owl-next span, .site-wrapper .owl-prev span {
    font-size: 5rem;
    top: 20%;
    position: absolute;
    color: #fff;
    /*border: solid 1px #5ea2ff;*/
    background-color: rgba(1, 137, 253, 0.32);
    border-radius: 5px;
}


.site-wrapper .ms-hero-img-home1 {
    background-image: url(../images/home/home1.jpg);
    background-size: cover;
    background-position: center center;
    min-height: 550px;
}

.site-wrapper .ms-hero-img-home2 {
    background-image: url(../images/home/home2.jpg);
    background-size: cover;
    background-position: center center;
    min-height: 350px;
}

.site-wrapper .ms-hero-img-home3 {
    background-image: url(../images/home/home3.jpg);
    background-size: cover;
    background-position: center center;
    min-height: 350px;
}


.site-wrapper .ms-hero-img-about-us-1 {
    background-image: url(../images/nosotros/mexico-nosotros.jpg);
    background-size: cover;
    background-position: center center;
    min-height: 550px;
}

.site-wrapper .ms-hero-img-about-us-2 {
    background-image: url(../images/nosotros/cerezos-nosotros.jpg);
    background-size: cover;
    background-position: center center;
    min-height: 350px;
}

.site-wrapper .ms-hero-img-about-us-3 {
    background-image: url(../images/nosotros/vision-nosotros.jpg);
    background-size: cover;
    background-position: center center;
    min-height: 350px;
}


.site-wrapper .ms-hero-img-good-1 {
    background-image: url(../images/nosotros/goodcompany-waves.jpg);
    background-size: cover;
    background-position: center center;
    min-height: 350px;
}

.site-wrapper .ms-hero-img-good-2 {
    background-image: url(../images/nosotros/goodcompany-back.jpg);
    background-size: cover;
    background-position: center center;
    min-height: 650px;
}


.site-wrapper .card.card-cascade .view {    
    min-height: 110px;
}

.site-wrapper .view .portrait{    
    height: 200px;
}

.site-wrapper .card.card-image .panel{
    min-height: 160px;
}
.site-wrapper .view .max-60 {max-width: 60%;}

.site-wrapper #form-login{
    position:absolute; 
    background:white; 
    width: 100%; 
    margin: 0 auto; 
    padding:  7px 15px; 
    text-align: left; 
    top: 75px;
	}
        
.site-wrapper #form-login-pass{
    position:absolute; 
    background:white; 
    width: 100%; 
    margin: 0 auto; 
    padding:  10px 15px; 
    text-align: left; 
    top: 75px;
    z-index: 1000;
}

.site-wrapper label.waves-effect.waves-light{background-color: #A681BA; color:#fff;}
.site-wrapper label.waves-effect.waves-light.active{background-color: #8A3399; color:#fff;}
.site-wrapper label.waves-effect.waves-light{background-color: #A681BA; color:#fff;}
.site-wrapper label.waves-effect.waves-light.active{background-color: #8A3399; color:#fff;}



.site-wrapper .gradiente_negro{
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%);
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
    position: absolute;
    bottom: 0px;
    left: 0px;
    z-index: 9;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
    height: 60%;
    box-sizing: border-box;
    padding-right: 0px;
    padding-left: 0px;
    width: 100%;
}

.site-wrapper .pdf-name{
    margin-top:10px;
    color: #616161;
    font-size: 70%;
    font-weight: 300;
}

.site-wrapper .far.sidebar-icon, .fas.fa-comments{font-size: 1.5rem; cursor: pointer;}

@media only screen and (min-width: 1100px){
    .slide-out {transform: translateX(-100%);}
}

@media only screen and (max-width: 600px) {
    #form-login-pass{z-index: 10000;}
    .site-wrapper > section {margin-top: 120px;}
    
    .site-wrapper .btn.form-check-label{ max-width: 25%; padding: .5rem; font-size: .5rem;}
    .site-wrapper .btn.form-check-label i{font-size: 2rem;}
    .h5-responsive {font-size: 90%;}
}

@media (min-width: 992px){
    .site-wrapper .modal .modal-fluid .modal-content {width: 50%; margin: auto;}
    
}