.mdb-color.lighten-5 {
  background-color: #d0d6e2 !important; }

.mdb-color.lighten-4 {
  background-color: #b1bace !important; }

.mdb-color.lighten-3 {
  background-color: #929fba !important; }

.mdb-color.lighten-2 {
  background-color: #7283a7 !important; }

.mdb-color.lighten-1 {
  background-color: #59698d !important; }

.mdb-color {
  background-color: #45526e !important; }

.mdb-color-text {
  color: #45526e !important; }

.rgba-mdb-color-slight {
  background-color: rgba(69, 82, 110, 0.1); }

.rgba-mdb-color-light {
  background-color: rgba(69, 82, 110, 0.3); }

.rgba-mdb-color-strong {
  background-color: rgba(69, 82, 110, 0.7); }

.mdb-color.darken-1 {
  background-color: #3b465e !important; }

.mdb-color.darken-2 {
  background-color: #2e3951 !important; }

.mdb-color.darken-3 {
  background-color: #1c2a48 !important; }

.mdb-color.darken-4 {
  background-color: #1c2331 !important; }

.red.lighten-5 {
  background-color: #ffebee !important; }

.red.lighten-4 {
  background-color: #ffcdd2 !important; }

.red.lighten-3 {
  background-color: #ef9a9a !important; }

.red.lighten-2 {
  background-color: #e57373 !important; }

.red.lighten-1 {
  background-color: #ef5350 !important; }

.red {
  background-color: #f44336 !important; }

.red-text {
  color: #f44336 !important; }

.rgba-red-slight {
  background-color: rgba(244, 67, 54, 0.1); }

.rgba-red-light {
  background-color: rgba(244, 67, 54, 0.3); }

.rgba-red-strong {
  background-color: rgba(244, 67, 54, 0.7); }

.red.darken-1 {
  background-color: #e53935 !important; }

.red.darken-2 {
  background-color: #d32f2f !important; }

.red.darken-3 {
  background-color: #c62828 !important; }

.red.darken-4 {
  background-color: #b71c1c !important; }

.red.accent-1 {
  background-color: #ff8a80 !important; }

.red.accent-2 {
  background-color: #ff5252 !important; }

.red.accent-3 {
  background-color: #ff1744 !important; }

.red.accent-4 {
  background-color: #d50000 !important; }

.pink.lighten-5 {
  background-color: #fce4ec !important; }

.pink.lighten-4 {
  background-color: #f8bbd0 !important; }

.pink.lighten-3 {
  background-color: #f48fb1 !important; }

.pink.lighten-2 {
  background-color: #f06292 !important; }

.pink.lighten-1 {
  background-color: #ec407a !important; }

.pink {
  background-color: #e91e63 !important; }

.pink-text {
  color: #e91e63 !important; }

.rgba-pink-slight {
  background-color: rgba(233, 30, 99, 0.1); }

.rgba-pink-light {
  background-color: rgba(233, 30, 99, 0.3); }

.rgba-pink-strong {
  background-color: rgba(233, 30, 99, 0.7); }

.pink.darken-1 {
  background-color: #d81b60 !important; }

.pink.darken-2 {
  background-color: #c2185b !important; }

.pink.darken-3 {
  background-color: #ad1457 !important; }

.pink.darken-4 {
  background-color: #880e4f !important; }

.pink.accent-1 {
  background-color: #ff80ab !important; }

.pink.accent-2 {
  background-color: #ff4081 !important; }

.pink.accent-3 {
  background-color: #f50057 !important; }

.pink.accent-4 {
  background-color: #c51162 !important; }

.purple.lighten-5 {
  background-color: #f3e5f5 !important; }

.purple.lighten-4 {
  background-color: #e1bee7 !important; }

.purple.lighten-3 {
  background-color: #ce93d8 !important; }

.purple.lighten-2 {
  background-color: #ba68c8 !important; }

.purple.lighten-1 {
  background-color: #ab47bc !important; }

.purple {
  background-color: #9c27b0 !important; }

.purple-text {
  color: #9c27b0 !important; }

.rgba-purple-slight {
  background-color: rgba(156, 39, 176, 0.1); }

.rgba-purple-light {
  background-color: rgba(156, 39, 176, 0.3); }

.rgba-purple-strong {
  background-color: rgba(156, 39, 176, 0.7); }

.purple.darken-1 {
  background-color: #8e24aa !important; }

.purple.darken-2 {
  background-color: #7b1fa2 !important; }

.purple.darken-3 {
  background-color: #6a1b9a !important; }

.purple.darken-4 {
  background-color: #4a148c !important; }

.purple.accent-1 {
  background-color: #ea80fc !important; }

.purple.accent-2 {
  background-color: #e040fb !important; }

.purple.accent-3 {
  background-color: #d500f9 !important; }

.purple.accent-4 {
  background-color: #aa00ff !important; }

.deep-purple.lighten-5 {
  background-color: #ede7f6 !important; }

.deep-purple.lighten-4 {
  background-color: #d1c4e9 !important; }

.deep-purple.lighten-3 {
  background-color: #b39ddb !important; }

.deep-purple.lighten-2 {
  background-color: #9575cd !important; }

.deep-purple.lighten-1 {
  background-color: #7e57c2 !important; }

.deep-purple {
  background-color: #673ab7 !important; }

.deep-purple-text {
  color: #673ab7 !important; }

.rgba-deep-purple-slight {
  background-color: rgba(103, 58, 183, 0.1); }

.rgba-deep-purple-light {
  background-color: rgba(103, 58, 183, 0.3); }

.rgba-deep-purple-strong {
  background-color: rgba(103, 58, 183, 0.7); }

.deep-purple.darken-1 {
  background-color: #5e35b1 !important; }

.deep-purple.darken-2 {
  background-color: #512da8 !important; }

.deep-purple.darken-3 {
  background-color: #4527a0 !important; }

.deep-purple.darken-4 {
  background-color: #311b92 !important; }

.deep-purple.accent-1 {
  background-color: #b388ff !important; }

.deep-purple.accent-2 {
  background-color: #7c4dff !important; }

.deep-purple.accent-3 {
  background-color: #651fff !important; }

.deep-purple.accent-4 {
  background-color: #6200ea !important; }

.indigo.lighten-5 {
  background-color: #e8eaf6 !important; }

.indigo.lighten-4 {
  background-color: #c5cae9 !important; }

.indigo.lighten-3 {
  background-color: #9fa8da !important; }

.indigo.lighten-2 {
  background-color: #7986cb !important; }

.indigo.lighten-1 {
  background-color: #5c6bc0 !important; }

.indigo {
  background-color: #3f51b5 !important; }

.indigo-text {
  color: #3f51b5 !important; }

.rgba-indigo-slight {
  background-color: rgba(63, 81, 181, 0.1); }

.rgba-indigo-light {
  background-color: rgba(63, 81, 181, 0.3); }

.rgba-indigo-strong {
  background-color: rgba(63, 81, 181, 0.7); }

.indigo.darken-1 {
  background-color: #3949ab !important; }

.indigo.darken-2 {
  background-color: #303f9f !important; }

.indigo.darken-3 {
  background-color: #283593 !important; }

.indigo.darken-4 {
  background-color: #1a237e !important; }

.indigo.accent-1 {
  background-color: #8c9eff !important; }

.indigo.accent-2 {
  background-color: #536dfe !important; }

.indigo.accent-3 {
  background-color: #3d5afe !important; }

.indigo.accent-4 {
  background-color: #304ffe !important; }

.blue.lighten-5 {
  background-color: #e3f2fd !important; }

.blue.lighten-4 {
  background-color: #bbdefb !important; }

.blue.lighten-3 {
  background-color: #90caf9 !important; }

.blue.lighten-2 {
  background-color: #64b5f6 !important; }

.blue.lighten-1 {
  background-color: #42a5f5 !important; }

.blue {
  background-color: #2196f3 !important; }

.blue-text {
  color: #2196f3 !important; }

.rgba-blue-slight {
  background-color: rgba(33, 150, 243, 0.1); }

.rgba-blue-light {
  background-color: rgba(33, 150, 243, 0.3); }

.rgba-blue-strong {
  background-color: rgba(33, 150, 243, 0.7); }

.blue.darken-1 {
  background-color: #1e88e5 !important; }

.blue.darken-2 {
  background-color: #1976d2 !important; }

.blue.darken-3 {
  background-color: #1565c0 !important; }

.blue.darken-4 {
  background-color: #0d47a1 !important; }

.blue.accent-1 {
  background-color: #82b1ff !important; }

.blue.accent-2 {
  background-color: #448aff !important; }

.blue.accent-3 {
  background-color: #2979ff !important; }

.blue.accent-4 {
  background-color: #2962ff !important; }

.light-blue.lighten-5 {
  background-color: #e1f5fe !important; }

.light-blue.lighten-4 {
  background-color: #b3e5fc !important; }

.light-blue.lighten-3 {
  background-color: #81d4fa !important; }

.light-blue.lighten-2 {
  background-color: #4fc3f7 !important; }

.light-blue.lighten-1 {
  background-color: #29b6f6 !important; }

.light-blue {
  background-color: #03a9f4 !important; }

.light-blue-text {
  color: #03a9f4 !important; }

.rgba-light-blue-slight {
  background-color: rgba(3, 169, 244, 0.1); }

.rgba-light-blue-light {
  background-color: rgba(3, 169, 244, 0.3); }

.rgba-light-blue-strong {
  background-color: rgba(3, 169, 244, 0.7); }

.light-blue.darken-1 {
  background-color: #039be5 !important; }

.light-blue.darken-2 {
  background-color: #0288d1 !important; }

.light-blue.darken-3 {
  background-color: #0277bd !important; }

.light-blue.darken-4 {
  background-color: #01579b !important; }

.light-blue.accent-1 {
  background-color: #80d8ff !important; }

.light-blue.accent-2 {
  background-color: #40c4ff !important; }

.light-blue.accent-3 {
  background-color: #00b0ff !important; }

.light-blue.accent-4 {
  background-color: #0091ea !important; }

.cyan.lighten-5 {
  background-color: #e0f7fa !important; }

.cyan.lighten-4 {
  background-color: #b2ebf2 !important; }

.cyan.lighten-3 {
  background-color: #80deea !important; }

.cyan.lighten-2 {
  background-color: #4dd0e1 !important; }

.cyan.lighten-1 {
  background-color: #26c6da !important; }

.cyan {
  background-color: #00bcd4 !important; }

.cyan-text {
  color: #00bcd4 !important; }

.rgba-cyan-slight {
  background-color: rgba(0, 188, 212, 0.1); }

.rgba-cyan-light {
  background-color: rgba(0, 188, 212, 0.3); }

.rgba-cyan-strong {
  background-color: rgba(0, 188, 212, 0.7); }

.cyan.darken-1 {
  background-color: #00acc1 !important; }

.cyan.darken-2 {
  background-color: #0097a7 !important; }

.cyan.darken-3 {
  background-color: #00838f !important; }

.cyan.darken-4 {
  background-color: #006064 !important; }

.cyan.accent-1 {
  background-color: #84ffff !important; }

.cyan.accent-2 {
  background-color: #18ffff !important; }

.cyan.accent-3 {
  background-color: #00e5ff !important; }

.cyan.accent-4 {
  background-color: #00b8d4 !important; }

.teal.lighten-5 {
  background-color: #e0f2f1 !important; }

.teal.lighten-4 {
  background-color: #b2dfdb !important; }

.teal.lighten-3 {
  background-color: #80cbc4 !important; }

.teal.lighten-2 {
  background-color: #4db6ac !important; }

.teal.lighten-1 {
  background-color: #26a69a !important; }

.teal {
  background-color: #009688 !important; }

.teal-text {
  color: #009688 !important; }

.rgba-teal-slight {
  background-color: rgba(0, 150, 136, 0.1); }

.rgba-teal-light {
  background-color: rgba(0, 150, 136, 0.3); }

.rgba-teal-strong {
  background-color: rgba(0, 150, 136, 0.7); }

.teal.darken-1 {
  background-color: #00897b !important; }

.teal.darken-2 {
  background-color: #00796b !important; }

.teal.darken-3 {
  background-color: #00695c !important; }

.teal.darken-4 {
  background-color: #004d40 !important; }

.teal.accent-1 {
  background-color: #a7ffeb !important; }

.teal.accent-2 {
  background-color: #64ffda !important; }

.teal.accent-3 {
  background-color: #1de9b6 !important; }

.teal.accent-4 {
  background-color: #00bfa5 !important; }

.green.lighten-5 {
  background-color: #e8f5e9 !important; }

.green.lighten-4 {
  background-color: #c8e6c9 !important; }

.green.lighten-3 {
  background-color: #a5d6a7 !important; }

.green.lighten-2 {
  background-color: #81c784 !important; }

.green.lighten-1 {
  background-color: #66bb6a !important; }

.green {
  background-color: #4caf50 !important; }

.green-text {
  color: #4caf50 !important; }

.rgba-green-slight {
  background-color: rgba(76, 175, 80, 0.1); }

.rgba-green-light {
  background-color: rgba(76, 175, 80, 0.3); }

.rgba-green-strong {
  background-color: rgba(76, 175, 80, 0.7); }

.green.darken-1 {
  background-color: #43a047 !important; }

.green.darken-2 {
  background-color: #388e3c !important; }

.green.darken-3 {
  background-color: #2e7d32 !important; }

.green.darken-4 {
  background-color: #1b5e20 !important; }

.green.accent-1 {
  background-color: #b9f6ca !important; }

.green.accent-2 {
  background-color: #69f0ae !important; }

.green.accent-3 {
  background-color: #00e676 !important; }

.green.accent-4 {
  background-color: #00c853 !important; }

.light-green.lighten-5 {
  background-color: #f1f8e9 !important; }

.light-green.lighten-4 {
  background-color: #dcedc8 !important; }

.light-green.lighten-3 {
  background-color: #c5e1a5 !important; }

.light-green.lighten-2 {
  background-color: #aed581 !important; }

.light-green.lighten-1 {
  background-color: #9ccc65 !important; }

.light-green {
  background-color: #8bc34a !important; }

.light-green-text {
  color: #8bc34a !important; }

.rgba-light-green-slight {
  background-color: rgba(139, 195, 74, 0.1); }

.rgba-light-green-light {
  background-color: rgba(139, 195, 74, 0.3); }

.rgba-light-green-strong {
  background-color: rgba(139, 195, 74, 0.7); }

.light-green.darken-1 {
  background-color: #7cb342 !important; }

.light-green.darken-2 {
  background-color: #689f38 !important; }

.light-green.darken-3 {
  background-color: #558b2f !important; }

.light-green.darken-4 {
  background-color: #33691e !important; }

.light-green.accent-1 {
  background-color: #ccff90 !important; }

.light-green.accent-2 {
  background-color: #b2ff59 !important; }

.light-green.accent-3 {
  background-color: #76ff03 !important; }

.light-green.accent-4 {
  background-color: #64dd17 !important; }

.lime.lighten-5 {
  background-color: #f9fbe7 !important; }

.lime.lighten-4 {
  background-color: #f0f4c3 !important; }

.lime.lighten-3 {
  background-color: #e6ee9c !important; }

.lime.lighten-2 {
  background-color: #dce775 !important; }

.lime.lighten-1 {
  background-color: #d4e157 !important; }

.lime {
  background-color: #cddc39 !important; }

.lime-text {
  color: #cddc39 !important; }

.rgba-lime-slight {
  background-color: rgba(205, 220, 57, 0.1); }

.rgba-lime-light {
  background-color: rgba(205, 220, 57, 0.3); }

.rgba-lime-strong {
  background-color: rgba(205, 220, 57, 0.7); }

.lime.darken-1 {
  background-color: #c0ca33 !important; }

.lime.darken-2 {
  background-color: #afb42b !important; }

.lime.darken-3 {
  background-color: #9e9d24 !important; }

.lime.darken-4 {
  background-color: #827717 !important; }

.lime.accent-1 {
  background-color: #f4ff81 !important; }

.lime.accent-2 {
  background-color: #eeff41 !important; }

.lime.accent-3 {
  background-color: #c6ff00 !important; }

.lime.accent-4 {
  background-color: #aeea00 !important; }

.yellow.lighten-5 {
  background-color: #fffde7 !important; }

.yellow.lighten-4 {
  background-color: #fff9c4 !important; }

.yellow.lighten-3 {
  background-color: #fff59d !important; }

.yellow.lighten-2 {
  background-color: #fff176 !important; }

.yellow.lighten-1 {
  background-color: #ffee58 !important; }

.yellow {
  background-color: #ffeb3b !important; }

.yellow-text {
  color: #ffeb3b !important; }

.rgba-yellow-slight {
  background-color: rgba(255, 235, 59, 0.1); }

.rgba-yellow-light {
  background-color: rgba(255, 235, 59, 0.3); }

.rgba-yellow-strong {
  background-color: rgba(255, 235, 59, 0.7); }

.yellow.darken-1 {
  background-color: #fdd835 !important; }

.yellow.darken-2 {
  background-color: #fbc02d !important; }

.yellow.darken-3 {
  background-color: #f9a825 !important; }

.yellow.darken-4 {
  background-color: #f57f17 !important; }

.yellow.accent-1 {
  background-color: #ffff8d !important; }

.yellow.accent-2 {
  background-color: #ffff00 !important; }

.yellow.accent-3 {
  background-color: #ffea00 !important; }

.yellow.accent-4 {
  background-color: #ffd600 !important; }

.amber.lighten-5 {
  background-color: #fff8e1 !important; }

.amber.lighten-4 {
  background-color: #ffecb3 !important; }

.amber.lighten-3 {
  background-color: #ffe082 !important; }

.amber.lighten-2 {
  background-color: #ffd54f !important; }

.amber.lighten-1 {
  background-color: #ffca28 !important; }

.amber {
  background-color: #ffc107 !important; }

.amber-text {
  color: #ffc107 !important; }

.rgba-amber-slight {
  background-color: rgba(255, 193, 7, 0.1); }

.rgba-amber-light {
  background-color: rgba(255, 193, 7, 0.3); }

.rgba-amber-strong {
  background-color: rgba(255, 193, 7, 0.7); }

.amber.darken-1 {
  background-color: #ffb300 !important; }

.amber.darken-2 {
  background-color: #ffa000 !important; }

.amber.darken-3 {
  background-color: #ff8f00 !important; }

.amber.darken-4 {
  background-color: #ff6f00 !important; }

.amber.accent-1 {
  background-color: #ffe57f !important; }

.amber.accent-2 {
  background-color: #ffd740 !important; }

.amber.accent-3 {
  background-color: #ffc400 !important; }

.amber.accent-4 {
  background-color: #ffab00 !important; }

.orange.lighten-5 {
  background-color: #fff3e0 !important; }

.orange.lighten-4 {
  background-color: #ffe0b2 !important; }

.orange.lighten-3 {
  background-color: #ffcc80 !important; }

.orange.lighten-2 {
  background-color: #ffb74d !important; }

.orange.lighten-1 {
  background-color: #ffa726 !important; }

.orange {
  background-color: #ff9800 !important; }

.orange-text {
  color: #ff9800 !important; }

.rgba-orange-slight {
  background-color: rgba(255, 152, 0, 0.1); }

.rgba-orange-light {
  background-color: rgba(255, 152, 0, 0.3); }

.rgba-orange-strong {
  background-color: rgba(255, 152, 0, 0.7); }

.orange.darken-1 {
  background-color: #fb8c00 !important; }

.orange.darken-2 {
  background-color: #f57c00 !important; }

.orange.darken-3 {
  background-color: #ef6c00 !important; }

.orange.darken-4 {
  background-color: #e65100 !important; }

.orange.accent-1 {
  background-color: #ffd180 !important; }

.orange.accent-2 {
  background-color: #ffab40 !important; }

.orange.accent-3 {
  background-color: #ff9100 !important; }

.orange.accent-4 {
  background-color: #ff6d00 !important; }

.deep-orange.lighten-5 {
  background-color: #fbe9e7 !important; }

.deep-orange.lighten-4 {
  background-color: #ffccbc !important; }

.deep-orange.lighten-3 {
  background-color: #ffab91 !important; }

.deep-orange.lighten-2 {
  background-color: #ff8a65 !important; }

.deep-orange.lighten-1 {
  background-color: #ff7043 !important; }

.deep-orange {
  background-color: #ff5722 !important; }

.deep-orange-text {
  color: #ff5722 !important; }

.rgba-deep-orange-slight {
  background-color: rgba(255, 87, 34, 0.1); }

.rgba-deep-orange-light {
  background-color: rgba(255, 87, 34, 0.3); }

.rgba-deep-orange-strong {
  background-color: rgba(255, 87, 34, 0.7); }

.deep-orange.darken-1 {
  background-color: #f4511e !important; }

.deep-orange.darken-2 {
  background-color: #e64a19 !important; }

.deep-orange.darken-3 {
  background-color: #d84315 !important; }

.deep-orange.darken-4 {
  background-color: #bf360c !important; }

.deep-orange.accent-1 {
  background-color: #ff9e80 !important; }

.deep-orange.accent-2 {
  background-color: #ff6e40 !important; }

.deep-orange.accent-3 {
  background-color: #ff3d00 !important; }

.deep-orange.accent-4 {
  background-color: #dd2c00 !important; }

.brown.lighten-5 {
  background-color: #efebe9 !important; }

.brown.lighten-4 {
  background-color: #d7ccc8 !important; }

.brown.lighten-3 {
  background-color: #bcaaa4 !important; }

.brown.lighten-2 {
  background-color: #a1887f !important; }

.brown.lighten-1 {
  background-color: #8d6e63 !important; }

.brown {
  background-color: #795548 !important; }

.brown-text {
  color: #795548 !important; }

.rgba-brown-slight {
  background-color: rgba(121, 85, 72, 0.1); }

.rgba-brown-light {
  background-color: rgba(121, 85, 72, 0.3); }

.rgba-brown-strong {
  background-color: rgba(121, 85, 72, 0.7); }

.brown.darken-1 {
  background-color: #6d4c41 !important; }

.brown.darken-2 {
  background-color: #5d4037 !important; }

.brown.darken-3 {
  background-color: #4e342e !important; }

.brown.darken-4 {
  background-color: #3e2723 !important; }

.blue-grey.lighten-5 {
  background-color: #eceff1 !important; }

.blue-grey.lighten-4 {
  background-color: #cfd8dc !important; }

.blue-grey.lighten-3 {
  background-color: #b0bec5 !important; }

.blue-grey.lighten-2 {
  background-color: #90a4ae !important; }

.blue-grey.lighten-1 {
  background-color: #78909c !important; }

.blue-grey {
  background-color: #607d8b !important; }

.blue-grey-text {
  color: #607d8b !important; }

.rgba-blue-grey-slight {
  background-color: rgba(96, 125, 139, 0.1); }

.rgba-blue-grey-light {
  background-color: rgba(96, 125, 139, 0.3); }

.rgba-blue-grey-strong {
  background-color: rgba(96, 125, 139, 0.7); }

.blue-grey.darken-1 {
  background-color: #546e7a !important; }

.blue-grey.darken-2 {
  background-color: #455a64 !important; }

.blue-grey.darken-3 {
  background-color: #37474f !important; }

.blue-grey.darken-4 {
  background-color: #263238 !important; }

.grey.lighten-5 {
  background-color: #fafafa !important; }

.grey.lighten-4 {
  background-color: #f5f5f5 !important; }

.grey.lighten-3 {
  background-color: #eeeeee !important; }

.grey.lighten-2 {
  background-color: #e0e0e0 !important; }

.grey.lighten-1 {
  background-color: #bdbdbd !important; }

.grey {
  background-color: #9e9e9e !important; }

.grey-text {
  color: #9e9e9e !important; }

.rgba-grey-slight {
  background-color: rgba(158, 158, 158, 0.1); }

.rgba-grey-light {
  background-color: rgba(158, 158, 158, 0.3); }

.rgba-grey-strong {
  background-color: rgba(158, 158, 158, 0.7); }

.grey.darken-1 {
  background-color: #757575 !important; }

.grey.darken-2 {
  background-color: #616161 !important; }

.grey.darken-3 {
  background-color: #424242 !important; }

.grey.darken-4 {
  background-color: #212121 !important; }

.black {
  background-color: #000 !important; }

.black-text {
  color: #000 !important; }

.rgba-black-slight {
  background-color: rgba(0, 0, 0, 0.1); }

.rgba-black-light {
  background-color: rgba(0, 0, 0, 0.3); }

.rgba-black-strong {
  background-color: rgba(0, 0, 0, 0.7); }

.white {
  background-color: #fff !important; }

.white-text {
  color: #fff !important; }

.rgba-white-slight {
  background-color: rgba(255, 255, 255, 0.1); }

.rgba-white-light {
  background-color: rgba(255, 255, 255, 0.3); }

.rgba-white-strong {
  background-color: rgba(255, 255, 255, 0.7); }

.rgba-stylish-slight {
  background-color: rgba(62, 69, 81, 0.1); }

.rgba-stylish-light {
  background-color: rgba(62, 69, 81, 0.3); }

.rgba-stylish-strong {
  background-color: rgba(62, 69, 81, 0.7); }

.dark-grey-text {
  color: #4f4f4f; }

.primary-color {
  background-color: #4285f4 !important; }

.primary-color-dark {
  background-color: #0d47a1 !important; }

.secondary-color {
  background-color: #aa66cc !important; }

.secondary-color-dark {
  background-color: #9933cc !important; }

.default-color {
  background-color: #2bbbad !important; }

.default-color-dark {
  background-color: #00695c !important; }

.info-color {
  background-color: #33b5e5 !important; }

.info-color-dark {
  background-color: #0099cc !important; }

.success-color {
  background-color: #00c851 !important; }

.success-color-dark {
  background-color: #007e33 !important; }

.warning-color {
  background-color: #ffbb33 !important; }

.warning-color-dark {
  background-color: #ff8800 !important; }

.danger-color {
  background-color: #ff3547 !important; }

.danger-color-dark {
  background-color: #cc0000 !important; }

.elegant-color {
  background-color: #2e2e2e !important; }

.elegant-color-dark {
  background-color: #212121 !important; }

.stylish-color {
  background-color: #4b515d !important; }

.stylish-color-dark {
  background-color: #3e4551 !important; }

.unique-color {
  background-color: #3f729b !important; }

.unique-color-dark {
  background-color: #1c2331 !important; }

.special-color {
  background-color: #37474f !important; }

.special-color-dark {
  background-color: #263238 !important; }

.site-wrapper > section {
  margin-top: 100px; }

.site-wrapper header .top-header-bar {
  height: 10px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1031; }
.site-wrapper header > nav {
  margin-top: 10px; }
  .site-wrapper header > nav.navbar.navbar-light .navbar-nav .nav-item .nav-link {
    color: #616161; }
  .site-wrapper header > nav.navbar.navbar-light form .md-form .form-control {
    border-bottom-color: #616161;
    color: #616161; }
  .site-wrapper header > nav .button-collapse {
    color: #616161; }

.site-wrapper .section-heading .title {
  margin-bottom: 1rem;
  color: #01579b; }

.site-wrapper button.btn-unstyled {
  -webkit-appearance: none;
  color: #fff;
  background-color: transparent;
  padding: 0;
  border: 0;
  margin-bottom: 1rem;
  margin-top: -5px; }
  .site-wrapper button.btn-unstyled .btn-floating {
    font-size: 0.8rem; }

.site-wrapper .nav-tabs .nav-item a {
  font-size: 1.2rem; }

.site-wrapper .md-form input[type] {
  height: 40px;
  padding: 0px; }

.site-wrapper .dropdown-content li > span {
    color: #0066CC;  }

.site-wrapper .dataTables_wrapper {
  padding: 0px; }
  .site-wrapper .dataTables_wrapper table.dataTable > tbody > tr.child ul.dtr-details > li {
    border: none; }
  .site-wrapper .dataTables_wrapper .dt-buttons {
    float: right; }
  .site-wrapper .dataTables_wrapper .dataTables_filter {
    float: none;
    text-align: center; }
    @media only screen and (min-width: 768px) {
      .site-wrapper .dataTables_wrapper .dataTables_filter {
        float: right; } }
  .site-wrapper .dataTables_wrapper .dataTables_length {
    float: none;
    text-align: center; }
    @media only screen and (min-width: 768px) {
      .site-wrapper .dataTables_wrapper .dataTables_length {
        float: left; } }
    .site-wrapper .dataTables_wrapper .dataTables_length select {
      display: inline-block !important; }
  .site-wrapper .dataTables_wrapper .dataTables_info {
    float: none;
    white-space: normal; }
    @media only screen and (min-width: 768px) {
      .site-wrapper .dataTables_wrapper .dataTables_info {
        float: left; } }
  .site-wrapper .dataTables_wrapper .pagination .page-item .page-link:focus {
    background-color: #4285f4; }
  .site-wrapper .dataTables_wrapper table.table .dropdown-menu {
    width: 220px; }
    @media only screen and (min-width: 480px) {
      .site-wrapper .dataTables_wrapper table.table .dropdown-menu {
        width: auto; } }
    .site-wrapper .dataTables_wrapper table.table .dropdown-menu a {
      white-space: normal; }
      @media only screen and (min-width: 480px) {
        .site-wrapper .dataTables_wrapper table.table .dropdown-menu a {
          white-space: nowrap; } }

.site-wrapper .chat-comments {
  padding: 0.5rem;
  width: 100%;
  max-height: 500px;
  overflow-y: scroll; }
  .site-wrapper .chat-comments .comment-body .user-acronym {
    text-align: center; }
    .site-wrapper .chat-comments .comment-body .user-acronym span {
      font-weight: 400;
      line-height: 36.15385px;
      color: #fff; }
  .site-wrapper .chat-comments .comment-body hr {
    margin: 0.5rem 0px 1rem; }
  .site-wrapper .chat-comments .comment-body p {
    font-size: 0.8rem; }
  .site-wrapper .chat-comments .comment-body .container-replies a {
    font-size: 0.8rem; }
.site-wrapper .comment {
  margin-top: 1rem; }

.site-wrapper .instruction {
  font-size: 0.7rem; }
  .site-wrapper .instruction .title {
    color: #01579b; }

.site-wrapper footer a {
  color: #616161;
  font-size: 70%;
  font-weight: 300; }
.site-wrapper footer .footer-title, .site-wrapper .footer-title {
  font-weight: bold;
  color: #01579b; }
.site-wrapper footer .contact-info .tel {
  font-weight: 500;
  color: #616161; }
  .site-wrapper footer .contact-info .tel small {
    font-weight: 300;
    font-size: 70%; }
.site-wrapper footer .footer-copyright .copyright-content {
  background-image: url("../images/footer/arcos_footer.svg");
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 200px; }
.site-wrapper footer .footer-copyright .copyright-content .copyright-cite {
padding: 1em 0;
font-weight: 100;
font-size: 70%;
color: #fff; }
.site-wrapper footer .footer-copyright .copyright-content .copyright-cite a {
  font-weight: 100;
  color: #fff;
  font-size: 100%; }
.site-wrapper footer .legals-container {
justify-content: center;
margin-right: 0; }
@media only screen and (min-width: 992px) {
.site-wrapper footer .legals-container {
  justify-content: flex-end;
  margin-right: 6rem; } }

/*# sourceMappingURL=main.css.map */

/* CSS COTIADORES */

.site-wrapper #paso2 .nav-tabs {
    border-bottom: 1px solid #ddd;
}
.site-wrapper #paso2 .nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.site-wrapper #paso2 #tab-list .close {
	 margin-left: 7px;
}	
.site-wrapper #paso2 #tab-list a{color: #808080;}
.site-wrapper #paso2 #tab-list li{    
	border: 1px solid #ddd;
    border-radius: 4px;
}
.site-wrapper #paso2 .nav-tabs>li.active>a, .site-wrapper .nav-tabs>li.active>a:hover, .site-wrapper .nav-tabs>li.active>a:focus {
    color: #808080;
    cursor: default;
    background-color: #fff;
    border-bottom-color: transparent;
}
.site-wrapper #paso2 .nav-tabs>li>a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
}
.site-wrapper #paso2 .nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
}
.site-wrapper #paso2 .nav-tabs{
    border: 0;
    padding: 0.7rem;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 5px;
    background-color: transparent;
    z-index: 2;
    position: relative;
    border-radius: 0px;
    box-shadow: none;
}
.site-wrapper #paso2 .nav>li>a.active { text-decoration:underline; color:blue;}
.site-wrapper #paso2 .tab-content {
    border: 1px solid #ddd;
    margin: -15px 12px;
}
.site-wrapper #paso2 .accordion .card .card-header{width:100%; background-color: #0066cc; border: 1px solid white;}
.site-wrapper .accordion .card .card-header a{color:#fff;}
.site-wrapper #paso2 .accordion .card .card-body {width: 100%;border: 1px solid #fff;}
.site-wrapper .tot_heading{float: right; margin-left: 20px;}
.site-wrapper .calc_fin{margin:25px 0; text-align: right;}
.site-wrapper #paso1 .form-right{display:inline-flex; margin-bottom: 20px;}
.site-wrapper #paso2 .accordion, .site-wrapper #paso2 .accordion .card .card-header,.site-wrapper #paso2 .accordion .card .card-body{width:100%;}

/* ========================= */

.site-wrapper .titulo-xl {font-size: 4.5rem; text-shadow: 2px 2px #000;}
.site-wrapper .mt-20 {margin-top: 20rem;}
.site-wrapper .txt-med {font-size: 1.2rem;}
.site-wrapper .linea-division {border-bottom: solid 1px #fff;}
.site-wrapper .color-titulos {color: #005b9b}
.site-wrapper .far.sidebar-icon, .fas.fa-comments{font-size: 1.5rem; cursor:pointer;}
.site-wrapper #pdf-files{margin-top:40px;}
.site-wrapper .pdf-icon{text-align: center;}
.site-wrapper .ms-bg-fixed {background-attachment: fixed}
.site-wrapper .icono-sec-not{max-width: 40px; margin-right: 10px;}
.site-wrapper .banner-header{max-height: 300px;}
.site-wrapper .bt_naranja{background-color: rgb(255, 153, 0);}
.site-wrapper .bt_verde{background-color: rgb(153, 204, 0);}
.site-wrapper .bt_azul{background-color: #008ad3;}
.site-wrapper .breadcrumb {background-color: inherit;}
.site-wrapper .card-title.big{font-size: 1.2rem;}
.site-wrapper .ident_verde{color: rgb(153, 204, 0);}
.site-wrapper .ident_naranja{color: rgb(255, 153, 0);}
.site-wrapper .ident_ambar{color: #cfa116;}
.site-wrapper .owl-next span{right: 1%;}
.site-wrapper .owl-prev span{left: 1%;}
.site-wrapper .pull-right{text-align:right}
.site-wrapper .pull-left{text-align:left}
.site-wrapper section.agentes{margin-top: 30px;}
.site-wrapper .nav-tabs{border-bottom: 1px solid #ddd;}
.site-wrapper .nav{padding-left: 0; margin-bottom: 0; list-style: none;}
.site-wrapper .banner-atencion{max-height: 350px;}
.site-wrapper .amcharts-pie-slice:hover{transform: scale(1.1); filter: url(#shadow);}

.site-wrapper .ico-pdf.fa-lightbulb,
.site-wrapper .ico-pdf.fa-smile,
.site-wrapper .ico-pdf.fa-question,
.site-wrapper .ico-pdf.fa-frown{font-size: 4rem; cursor:pointer;}

.site-wrapper .ms-hero-img-home1 {
    background-image: url(../images/home/home1.jpg);
    background-size: cover;
    background-position: center center;
    min-height: 550px;
}

.site-wrapper .ms-hero-img-home2 {
    background-image: url(../images/home/home2.jpg);
    background-size: cover;
    background-position: center center;
    min-height: 350px;
}

.site-wrapper .ms-hero-img-home3 {
    background-image: url(../images/home/home3.jpg);
    background-size: cover;
    background-position: center center;
    min-height: 350px;
}
    
.site-wrapper #chartdiv, .site-wrapper #chartdiv2 {
    width: 100%;
    height: 500px;
    font-size: 11px;
}

.site-wrapper .amcharts-pie-slice {
    transform: scale(1);
    transform-origin: 50% 50%;
    transition-duration: 0.3s;
    transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    cursor: pointer;
    box-shadow: 0 0 30px 0 #000;
}
	
.site-wrapper .gradiente_negro{
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%);
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
    position: absolute;
    bottom: 0px;
    left: 0px;
    z-index: 9;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
    height: 60%;
    box-sizing: border-box;
    padding-right: 0px;
    padding-left: 0px;
    width: 100%;
}

.site-wrapper .pdf-name{
    margin-top:10px;
    color: #616161;
    font-size: 70%;
    font-weight: 300;
}

.site-wrapper .tope-text{            
    display: block;
    display: -webkit-box;
    font-size: 20px;
    line-height: 1.4;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.site-wrapper .owl-next span, .site-wrapper .owl-prev span {
    font-size: 5rem;
    top: 20%;
    position: absolute;
    color: white;
}

.site-wrapper .btn-agentes{
    position: absolute;
    top: 65%;
    right: 0px;
    padding: 25px 5px 5px;
    width: 100%;
    opacity: .8;
    font-size: 1.29rem;
    text-transform: none;
    text-align: right;
    max-height: 60px;
    box-sizing: border-box;
    font-weight: 400;
}

.site-wrapper .customTable td:first-child {
  border-left: none;
}

.site-wrapper .customTable td {
  border-left: 1px solid black;
}

.site-wrapper .customTable th {
  text-align: center;
  font-weight: bold;
}

.site-wrapper .customTable tbody {
  border: 1px solid black; 
}

.site-wrapper .customTable td {
  padding-left: 20px;
}

.site-wrapper .customTable td.number,
.site-wrapper .table-borderless td.number {
  text-align: right;
  padding-right: 35px;
  padding-left: 0px;
}

.site-wrapper .table-borderless{
  margin-top: 40px;
}

.site-wrapper .carousel-caption {
    left: 5%;
    right: inherit;
}
.cuadros-title{
    color: #01579b!important;
    font-weight: 400!important;
}

@media only screen and (max-width: 760px) {
    .site-wrapper .carousel-caption{
        position: absolute;
        top: 20%;
        right: 0;
        padding: 30px 5px 5px;
        min-width: 230px;
        opacity: .8;
    }
    
    .site-wrapper .carousel-caption h3{
        font-size: .8rem;
    }
    
    .btn.btn-agentes{
        position: absolute;
        top: 65%;
        right: 0;
        padding: 30px 5px 5px;
        min-width: 230px;
        opacity: .8;
        font-size: 1.1rem;
        text-transform: none;
        text-align: right;
        max-height: 60px;
        margin:0;
    }
    
}


@media only screen and (min-width: 1100px){
    .slide-out {
        transform: translateX(-100%);
    }
}
/* ====================================================== */


@media (max-width: 767px){
.site-wrapper .stepper-horizontal {flex-direction: row;}
.site-wrapper .stepper-horizontal li {flex-direction: initial;}
.site-wrapper .form-inline .form-check { padding-left: 0px;}
}
/* **************************** */



