/* noticias */

.site-wrapper .tope-text{            
    display: block;
    display: -webkit-box;
    font-size: 20px;
    line-height: 1.4;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.site-wrapper .ident_verde{color: rgb(153, 204, 0);}
.site-wrapper .ident_naranja{color: rgb(255, 153, 0);}
.site-wrapper .ident_ambar{color: #cfa116;}
.site-wrapper .carousel-caption {left: inherit; right: 5%;}

@media only screen and (max-width: 760px) {
    .site-wrapper .carousel-caption{
        position: absolute;
        top: 20%;
        right: 0;
        padding: 30px 5px 5px;
        min-width: 230px;
        opacity: .8;
    }
    
    .site-wrapper .carousel-caption h3{font-size: .8rem;}
}

