.site-wrapper{
	.dataTables_wrapper{
		padding: 0px;
		table.dataTable{
			>tbody{
				>tr.child{ 
					ul.dtr-details{
						>li{
							border: none;
						}
					}
				}
			}
		}
		.dt-buttons{
			float: right;
		}
		.dataTables_filter{
			float: none;
			text-align: center;
			@include sm{
				float: right;
			}
		}
		.dataTables_length{
			float: none;
			text-align: center;
			@include sm{
				float: left;
			}
			select{
				display: inline-block!important;
			}
		}
		.dataTables_info{
			float: none;
			white-space: normal;
			@include sm{
				float: left;
			}
		}
		.pagination{
			.page-item{
				.page-link:focus{
					background-color: $primary-color;
				}
			}
		}
	}
}