//Merging bootstrap colors and Material design

$body-bg: $white !default;
$body-color: #212529 !default;
$link-hover-color: darken($link-color, 15%) !default;
$table-caption-color: #6c757d !default;
$label-margin-bottom: .5rem !default;
$headings-color: inherit !default;
$hr-border-color: $hr-light;
$blockquote-small-color: #666 !default;
$thumbnail-bg: $body-bg;
$thumbnail-border-color: #dee2e6 !default;
$thumbnail-box-shadow: 0 1px 2px rgba($black, .075) !default;
$figure-caption-color: #6c757d !default;
$code-color: #e83e8c !default;
$kbd-color: $white !default;
$kbd-bg: #212529 !default;
$kbd-box-shadow: inset 0 -.1rem 0 rgba($black, .25) !default;
$pre-color: #212529 !default;
$table-border-color: #dee2e6 !default;
$table-striped-order: odd !default;
$table-accent-bg: transparent !default;
$table-hover-bg: $table-hover-background-color;
$theme-colors: $mdb-colors;
$table-active-bg: $table-hover-bg;
$table-dark-color: $body-bg !default;
$table-dark-bg: #212529 !default;
$table-dark-border-color: transparent !default;
$table-head-color: $white !default;
$table-head-bg: $mdb-color-darken-1;
$table-dark-accent-bg: rgba($white, .05) !default;
$table-dark-hover-bg: rgba($white, .075) !default;
$input-color: #495057 !default;
$input-bg: $input-bg-color;
$input-box-shadow: none !default;
$input-focus-bg: $input-bg-color;
$input-focus-border-color: #80bdff;
$input-focus-box-shadow: inherit !default;
$input-placeholder-color: inherit !default;
$input-disabled-bg: #e9ecef !default;
$input-plaintext-color: $body-color !default;
$text-muted: #6c757d !default;
$form-feedback-valid-color: #00c851 !default;
$form-feedback-invalid-color: #ff3547 !default;
$btn-focus-box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
$btn-active-box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
$btn-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
$yiq-text-dark: #212529 !default;
$yiq-text-light: $white !default;
$btn-link-disabled-color: rgba(255,255,255,.25);
$dropdown-bg: $white !default;
$dropdown-border-color: none !default;
$dropdown-box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
$dropdown-divider-bg: none !default;
$nav-divider-margin-y: 1rem !default;
$dropdown-link-color: #212529 !default;
$dropdown-link-hover-color: #212529 !default;
$dropdown-link-active-color: $white !default;
$dropdown-link-active-bg: #007bff !default;
$dropdown-link-disabled-color: #868e96 !default;
$dropdown-header-color: #6c757d !default;
$dropdown-link-hover-bg: #f8f9fa !default;
$input-group-addon-color: #495057 !default;
$input-group-addon-bg: #e9ecef !default;
$input-group-addon-border-color: #ced4da !default;
$custom-control-indicator-checked-color: $white !default;
$custom-checkbox-indicator-indeterminate-color: $custom-control-indicator-checked-color;
$custom-control-indicator-checked-bg: #4285f4 !default;
$custom-control-indicator-focus-box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
$custom-control-indicator-active-color: $white !default;
$component-active-bg: theme-color("primary") !default;
$custom-control-indicator-active-bg: lighten($component-active-bg, 35%) !default;
$custom-control-label-disabled-color: #6c757d !default;
$custom-control-indicator-disabled-bg: #e9ecef !default;
$custom-control-indicator-bg: #dee2e6 !default;
$custom-control-indicator-box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
$custom-checkbox-indicator-icon-checked: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='#{$custom-control-indicator-checked-color}' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E"), "#", "%23") !default;
$custom-checkbox-indicator-indeterminate-bg: $component-active-bg !default;
$custom-checkbox-indicator-icon-indeterminate: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 4'%3E%3Cpath stroke='#{$custom-checkbox-indicator-indeterminate-color}' d='M0 2h4'/%3E%3C/svg%3E"), "#", "%23") !default;
$custom-control-indicator-checked-disabled-bg: rgba(theme-color("primary"), .5) !default;
$custom-radio-indicator-icon-checked: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3E%3Ccircle r='3' fill='#{$custom-control-indicator-checked-color}'/%3E%3C/svg%3E"), "#", "%23") !default;
$custom-select-color: $input-color !default;
$custom-select-bg: $input-bg !default;
$custom-select-indicator-color: #343a40 !default;
$custom-select-indicator: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='#{$custom-select-indicator-color}' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E"), "#", "%23") !default;
$custom-select-border-color: $input-border-color !default;
$custom-select-focus-border-color: $input-focus-border-color !default;
$custom-select-focus-box-shadow: none !default;
$custom-select-disabled-color: #6c757d !default;
$custom-select-disabled-bg: #e9ecef !default;
$custom-file-focus-border-color: $input-focus-border-color !default;
$custom-file-focus-box-shadow: none !default;
$custom-file-color: $input-color !default;
$custom-file-bg: $input-bg !default;
$custom-file-border-color: $input-border-color !default;
$custom-file-box-shadow: none !default;
$custom-file-button-color: $custom-file-color !default;
$custom-file-button-bg: $input-group-addon-bg !default;
$custom-range-thumb-width: 1rem !default;
$custom-range-thumb-height: $custom-range-thumb-width;
$custom-range-thumb-bg: $component-active-bg !default;
$custom-range-thumb-border: 0 !default;
$custom-range-thumb-border-radius: 1rem !default;
$custom-range-thumb-box-shadow: none !default;
$custom-range-thumb-focus-box-shadow: none !default;
$custom-range-thumb-active-bg: lighten($component-active-bg, 35%) !default;
$custom-range-track-width: 100% !default;
$custom-range-track-height: .5rem !default;
$custom-range-track-cursor: pointer !default;
$custom-range-track-bg: transparent !default;
$custom-range-track-border-radius: 1rem !default;
$custom-range-track-box-shadow: none !important;
$nav-link-disabled-color: #6c757d !default;
$nav-tabs-border-color: transparent !default;
$nav-tabs-link-hover-border-color: transparent !default;
$nav-tabs-link-active-color: $white !default;
$nav-tabs-link-active-bg: rgba(255,255,255,.2);
$nav-tabs-link-active-border-color: transparent !default;
$component-active-color: $white !default;
$nav-pills-link-active-color: $component-active-color !default;
$nav-pills-link-active-bg: $component-active-bg !default;
$navbar-light-active-color: rgba($black, .9) !default;
$navbar-light-color: rgba($black, .5) !default;
$navbar-light-toggler-border-color: rgba($black, .1) !default;
$navbar-light-toggler-icon-bg: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#{$navbar-light-color}' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E"), "#", "%23") !default;
$navbar-dark-active-color: $white !default;
$navbar-dark-color: rgba($white, .5) !default;
$navbar-dark-toggler-border-color: transparent !default;
$navbar-dark-toggler-icon-bg: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#{$navbar-dark-color}' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E"), "#", "%23") !default;
$card-bg: $white !default;
$card-border-color: rgba($black, .125) !default;
$card-cap-bg: rgba($black, .03) !default;
$breadcrumb-bg: #e9ecef !default;
$breadcrumb-border-radius: $border-radius !default;
$breadcrumb-divider-color: #6c757d !default;
$breadcrumb-active-color: #0275d8 !default;
$pagination-color: #212529 !default;
$pagination-bg: $white !default;
$pagination-border-color: transparent !default;
$pagination-hover-color: #212529 !default;
$pagination-hover-bg: #eee !default;
$pagination-hover-border-color: transparent !default;
$pagination-focus-outline: 0 !default;
$input-btn-focus-color: rgba($component-active-bg, .25) !default;
$input-btn-focus-box-shadow: 0 0 0 $input-btn-focus-width  !default;
$pagination-focus-box-shadow: $input-btn-focus-box-shadow !default;
$pagination-active-color: #212529 !default;
$pagination-active-bg: $white !default;
$pagination-active-border-color: transparent !default;
$pagination-disabled-color: #868e96 !default;
$pagination-disabled-bg: $white !default;